@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.av.container *
	{
	box-sizing:border-box;
	}
	
.av-text
	{
	color:white;
	font-family:'Quicksand', sans-serif;
	font-weight:400;
	
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
	}

.av.container
	{
	width:640px;
	height:360px;
	
	position:relative;
	}
	
.av.controller-offset
	{
	width:100%;
	height:calc(100% - 60px);
	
	background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=0 );
	
	position:relative;
	}
	
.av.controller-offset.hide
	{
	opacity:0;
	}
	
.av.controller-offset-title
	{
	width:100%;
	
	padding:8px 10px 2px 10px;
		
	font-size:22px;
	}
	
.av.controller-offset-subtitle
	{
	width:100%;
	
	padding:2px 10px;
		
	font-size:16px;
	}
	
.av.controller
	{
	width:100%;
	height:100%;
	
	opacity:1;
	
	z-index:5;
	
	position:absolute;
	
	transition:opacity .33s;
	}
	
.av.controller.hide
	{
	opacity:0;
	
	cursor:none;
	}

.av.controller-bar
	{
	width:100%;
	height:46px;
	
	padding:6px 10px 10px 10px;
	}
	
.av.controller-left
	{
	height:100%;
	
	float:left;
	
	vertical-align:middle;
	
	display:inline-block;
	}
	
.av.controller-right
	{
	height:100%;
	
	float:right;
	
	vertical-align:middle;
	
	display:inline-block;
	}
	
.av.scrubber
	{
	width:calc(100% - 20px);
	height:4px;
	
	padding:5px 10px 5px 10px;
	
	box-sizing:content-box;
	}
	
.av.scrubber:hover
	{
	height:6px;
		
	padding:4px 10px 4px 10px;
	}
	
.av.playback
	{
	width:100%;
	height:4px;
	
	border-radius:2px;
	
	background-color:rgba(100,100,100,0.5);
	
	cursor:pointer;
	}
	
.av.scrubber:hover .av.playback
	{
	height:6px;
	
	border-radius:3px;
	}
	
.av.playhead
	{
	width:0%;
	height:4px;
	
	border-radius:2px;
	
	transition:width 200ms linear;
	}
	
.av.scrubber:hover .av.playhead
	{
	height:6px;
	
	border-radius:3px;
	}
	
.av.playback-time
	{
	padding:0px 10px;
		
	vertical-align:top;
	
	line-height:30px;
		
	height:100%;
		
	display:inline-block;
	}
	
.av.player
	{
	width:100%;
	height:100%;	
	
	background-color:black;
	}
	
.av.player::-webkit-media-controls-enclosure 
	{
	display:none !important;
	}
	
.av.volume-container
	{
	height:100%;
	
	vertical-align:top;
		
	display:inline-block;
	}
	
.av.volume-control
	{
	width:0px;
	height:100%;
	
	padding-top:12.5px;
	
	vertical-align:top;
		
	display:inline-block;
	
	transition:width 100ms, padding 100ms;
	}
	
.av.volume-container:hover .av.volume-control
	{
	width:120px;
	
	padding-left:5px;
	padding-right:5px;
	}
	
.av.volume-bar-outer
	{
	width:100%;
	height:6px;
	
	background-color:rgba(100,100,100,0.5);
	
	cursor:pointer;
	
	border-radius:3px;
	}
	
.av.volume-bar-inner
	{
	width:100%;
	height:6px;
	
	background-color:rgba(200,200,200,0.75);
	
	border-radius:3px;
	
	transition:width 100ms;
	}

button.av.av-controller-button
	{
	width:22px;
	height:26px;
		
	border:none;
		
	background-color:transparent;
	
	margin-bottom:-1px;
	margin-top:0px;
	padding:3px 5px 3px 5px;
	
	outline:0;
	
	vertical-align:middle;
	
	box-sizing:content-box;
	
	cursor:pointer;
	}
	
button.av.av-controller-button.play
	{
	padding:3px 5px 3px 5px;
	}
	
button.av.av-controller-button.pause
	{
	width:23px;
	
	margin-right:-1px;
		
	padding:2.5px 5px 3.5px 5px;
	}
	
button.av.av-controller-button.fullscreen
	{
	width:25px;
	height:30px;
	
	padding:1px 3px 2px 3px;
	}
	
button.av.av-controller-button.volume
	{
	width:28px;
	height:26px;
	
	padding:3px 3px 1px 3px;
	
	margin-left:12px;
	margin-right:4px;
	}
	
button.av.av-controller-button.unmute
	{
	width:31px;
	height:29px;
	
	margin-top:0px;
	
	padding:2px 1px 0px 2px;
	
	margin-left:12px;
	margin-right:4px;
	}
	
button.av.av-controller-button.subtitle
	{
	width:29px;
	height:29px;
	
	padding:0px 3px 2px 3px;
	
	margin-top:-1px;
	
	margin-right:14px;
	}
	
.av.player::cue
	{
	color:white;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:24px;
	
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	
	background:none;
	}
	
.av.player::-webkit-media-text-track-container 
	{
	transform: translateY(-60px);
	
	transition:transform .33s;
	}
	
.av.player.hidden-controls::-webkit-media-text-track-container
	{
	transform: translateY(0px);
	}
	
.av.subtitle-list
	{
	right:10px;
	bottom:5px;
		
	background-color:rgba(50,50,50,0.5);
	
	opacity:0;
	
	border-radius:2px;
	
	padding:2px;
	
	display:block;
	
	position:absolute;
	
	transition:opacity 300ms;
	}
	

.av.subtitle-list.show
	{
	opacity:1;
	}
	
.av.subtitle-list-button
	{
	width:120px;
	height:20px;
	
	background-color:transparent;
	
	border:none;
	border-bottom:1px solid rgba(255,255,255,0.25);
	
	border-radius:0px;
	
	outline:0;
	
	cursor:pointer;
	
	display:block;
	}
	
.av.subtitle-list-button:hover
	{
	background-color:rgba(255,255,255,0.15);
	}
	
.av.subtitle-list-button:first-child
	{
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	}
	
.av.subtitle-list-button:last-child
	{
	border-bottom:none;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	}